@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Bitter);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	color: #585858;
	font-family: arial, sans-serif;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

nav a {
	color: #ffffff;
	font-weight: 800;
	font-size: 1em;
	text-transform: uppercase;
	margin: 10px;
	padding: 1.5em;
	letter-spacing: 1px;
	float: left;
}


h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 5em;
	padding: 150px 0 0 0;
	text-align: center;
}

h2 {
	font-family: 'Roboto', sans-serif;
	margin: 1em auto;
	text-transform: uppercase;
	text-align: center;
}

p {
	line-height: 1.5em;
	margin-top: 1em;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
}

.topics {
	width: 30em;
	margin: 2em auto;
}

#about_me {
	clear: left;
}

#above_fold {
	color: #ffffff;
	background: url("../images/heroimage.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-repeat:no-repeat;
	height: 500px;
}

#slogan {
	font-size: 1.5em; 
	font-style: italic;
	font-family: 'Bitter', serif;
	text-align: center;
}

#about_me {
	width: 20em;
	margin: 2em auto;
}

#social {
	margin-top: 1em;
	list-style: none;
	text-align: center;
}

#about_me img {
	width: 50%;
	border-radius: 50%;
}
